{% extends 'base.html' %}
{% load static %}

{% block title %}Delete Education - Resume Builder{% endblock %}
{% block page_title %}Delete Education{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'resume_builder:education_list' %}">Education</a></li>
<li class="breadcrumb-item active">Delete</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8 mx-auto">
        <div class="card border-danger">
            <div class="card-body">
                <h5 class="card-title text-danger">Confirm Delete</h5>
                <p>Are you sure you want to delete the education entry <strong>{{ object.degree }}</strong> at <strong>{{ object.institution }}</strong>?</p>
                <form method="post">
                    {% csrf_token %}
                    <div class="d-flex justify-content-between">
                        <a href="{% url 'resume_builder:education_list' %}" class="btn btn-secondary">
                            <i class="bi bi-arrow-left"></i> Cancel
                        </a>
                        <button type="submit" class="btn btn-danger">
                            <i class="bi bi-trash"></i> Confirm Delete
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %} 