{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Account{% endblock %}</title>
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <header class="py-3 mb-4 border-bottom">
        <div class="container d-flex flex-wrap justify-content-center">
            <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
                <img src="{% static 'img/logo1.png' %}" alt="Logo" height="40">
                <span class="fs-4 ms-2">DiamondTalent</span>
            </a>
        </div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    {% block extra_scripts %}{% endblock %}
</body>
</html>