{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Recruiter{% endblock %}</title>
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <header class="py-3 mb-4 border-bottom">
        <div class="container d-flex flex-wrap justify-content-between align-items-center">
            <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                <img src="{% static 'img/logo1.png' %}" alt="Logo" height="40">
                <span class="fs-4 ms-2">DiamondTalent</span>
            </a>
            <nav>
                <ul class="nav">
                    <li class="nav-item"><a class="nav-link" href="#">Job Listings</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Candidates</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Interviews</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Reports</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    {% block extra_scripts %}{% endblock %}
</body>
</html>