{% extends 'base.html' %}
{% load static %}

{% block title %}Language Detail - Resume Builder{% endblock %}
{% block page_title %}Language Detail{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'resume_builder:language_list' %}">Languages</a></li>
<li class="breadcrumb-item active">Detail</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8 mx-auto">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ language.name }}</h5>
                <ul class="list-group list-group-flush mb-3">
                    <li class="list-group-item"><strong>Resume:</strong> {{ language.resume.title }}</li>
                    <li class="list-group-item"><strong>Proficiency:</strong> {{ language.get_proficiency_display }}</li>
                    <li class="list-group-item"><strong>Certification:</strong> {{ language.certification|default:"-" }}</li>
                    <li class="list-group-item"><strong>Visible:</strong> {% if language.is_visible %}Yes{% else %}No{% endif %}</li>
                </ul>
                <div class="d-flex justify-content-between">
                    <a href="{% url 'resume_builder:language_list' %}" class="btn btn-secondary"><i class="bi bi-arrow-left"></i> Back to List</a>
                    <div>
                        <a href="{% url 'resume_builder:language_update' language.pk %}" class="btn btn-warning"><i class="bi bi-pencil"></i> Edit</a>
                        <a href="{% url 'resume_builder:language_delete' language.pk %}" class="btn btn-danger"><i class="bi bi-trash"></i> Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 